{
  "status_code": 200,
  "status_message": "OK",
  "request_timestamp": "2026-02-13 17:04:28 PST",
  "request_url": "https://pdgapi.lbl.gov/summaries/S012",
  "edition": "2025",
  "about": "For further information see https://pdg.lbl.gov/api",
  "pdgid": "S012/2025",
  "description": "K(S)0",
  "summaries": {
    "properties": [
      {
        "pdgid": "S012T/2025",
        "description": "tau_s",
        "pdg_values": [
          {
            "value": 8.954327104067105E-11,
            "error_positive": 3.558392220334313E-14,
            "error_negative": 3.558392220334313E-14,
            "value_text": "(8.954+-0.004)E-11",
            "unit": "s",
            "scale_factor": 1.122566,
            "comment": "Assuming CPT",
            "type": "OUR FIT"
          },
          {
            "value": 8.956378653974459E-11,
            "error_positive": 3.347871107380465E-14,
            "error_negative": 3.347871107380465E-14,
            "value_text": "(8.9564+-0.0033)E-11",
            "unit": "s",
            "scale_factor": 1.029674,
            "comment": "Not assuming CPT",
            "type": "OUR FIT"
          }
        ]
      },
      {
        "pdgid": "S012L+E/2025",
        "description": "lambda(+) (LINEAR ENERGY DEPENDENCE OF f(+) IN K_e30 DECAY)",
        "pdg_values": [
          {
            "value": 0.0339,
            "error_positive": 0.004099999999999999,
            "error_negative": 0.004099999999999999,
            "value_text": "0.034+-0.004",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012AS/2025",
        "description": "A_S = [ Gamma(KS --> pi- e+ nu_e) - Gamma(KS --> pi+ e- nubar_e) ] / SUM",
        "pdg_values": [
          {
            "value": -0.0038,
            "error_positive": 0.005635601121442149,
            "error_negative": 0.005635601121442149,
            "value_text": "-0.004+-0.006",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012ET+/2025",
        "description": "Im(eta(+-0))**2 = Gamma(K0S --> pi+ pi- pi0, CP-violating) / Gamma(K0L --> pi+ pi- pi0)"
      },
      {
        "pdgid": "S012E+/2025",
        "description": "Im(eta(+-0)) = Im(A(K0S --> pi+ pi- pi0, CP-violating) / A(K0L --> pi+ pi- pi0))",
        "pdg_values": [
          {
            "value": -0.002,
            "error_positive": 0.009219544457292887,
            "error_negative": 0.009055385138137416,
            "value_text": "-0.002+-0.009",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012E0/2025",
        "description": "Im(eta(000)) = Im(A(K0S --> pi0 pi0 pi0)/A(K0L --> pi0 pi0 pi0))",
        "pdg_values": [
          {
            "value": -7.288629737609328E-4,
            "error_positive": 0.01569572187352959,
            "error_negative": 0.01569572187352959,
            "value_text": "-0.001+-0.016",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012AE0/2025",
        "description": "|eta(000)| = |A(K0S --> 3pi0)/A(K0L --> 3pi0)|",
        "pdg_values": [
          {
            "value": 0.0088,
            "value_text": "< 0.0088",
            "is_limit": true,
            "is_upper_limit": true,
            "confidence_level": 90.0,
            "type": "BEST LIMIT"
          }
        ]
      },
      {
        "pdgid": "S012DPA/2025",
        "description": "CP asymmetry A in K0S --> pi+ pi- e+ e- CP-violation param.",
        "pdg_values": [
          {
            "value": -0.004256733524355301,
            "error_positive": 0.007851924736205591,
            "error_negative": 0.007851924736205591,
            "value_text": "-0.004+-0.008",
            "type": "OUR AVERAGE"
          }
        ]
      }
    ],
    "branching_fractions": [
      {
        "pdgid": "S012.2/2025",
        "description": "K0S --> pi0 pi0",
        "mode_number": 1,
        "section": "Hadronic modes",
        "pdg_values": [
          {
            "value": 0.3068785016614082,
            "error_positive": 5.091688756789147E-4,
            "error_negative": 5.091688756789147E-4,
            "value_text": "(30.69+-0.05)E-2",
            "type": "OUR FIT"
          }
        ]
      },
      {
        "pdgid": "S012.1/2025",
        "description": "K0S --> pi+ pi-",
        "mode_number": 2,
        "section": "Hadronic modes",
        "pdg_values": [
          {
            "value": 0.6919512697789951,
            "error_positive": 5.088502798268763E-4,
            "error_negative": 5.088502798268763E-4,
            "value_text": "(69.20+-0.05)E-2",
            "type": "OUR FIT"
          }
        ]
      },
      {
        "pdgid": "S012.8/2025",
        "description": "K0S --> pi+ pi- pi0",
        "mode_number": 3,
        "section": "Hadronic modes",
        "pdg_values": [
          {
            "value": 3.4893838193229E-7,
            "error_positive": 1.11102930958013E-7,
            "error_negative": 9.14740956560337E-8,
            "value_text": "(3.5+1.1-0.9)E-7",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.5/2025",
        "description": "K0S --> pi+ pi- gamma",
        "mode_number": 4,
        "section": "Modes with photons or lepton leptonbar pairs",
        "pdg_values": [
          {
            "value": 0.001793374879203675,
            "error_positive": 5.341718138918925E-5,
            "error_negative": 5.341718138918925E-5,
            "value_text": "(1.79+-0.05)E-3",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.13/2025",
        "description": "K0S --> pi+ pi- e+ e-",
        "mode_number": 5,
        "section": "Modes with photons or lepton leptonbar pairs",
        "pdg_values": [
          {
            "value": 4.7908643905323E-5,
            "error_positive": 1.53264238637342E-6,
            "error_negative": 1.53264238637342E-6,
            "value_text": "(4.79+-0.15)E-5",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.14/2025",
        "description": "K0S --> pi0 gamma gamma",
        "mode_number": 6,
        "section": "Modes with photons or lepton leptonbar pairs",
        "pdg_values": [
          {
            "value": 4.9E-8,
            "error_positive": 1.83575597506858E-8,
            "error_negative": 1.83575597506858E-8,
            "value_text": "(4.9+-1.8)E-8",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.6/2025",
        "description": "K0S --> gamma gamma",
        "mode_number": 7,
        "section": "Modes with photons or lepton leptonbar pairs",
        "pdg_values": [
          {
            "value": 2.63029473251868E-6,
            "error_positive": 1.74758133385485E-7,
            "error_negative": 1.74758133385485E-7,
            "value_text": "(2.63+-0.17)E-6",
            "scale_factor": 3.050621,
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.16/2025",
        "description": "K0S --> mu+ mu- mu+ mu-",
        "mode_number": 8,
        "section": "Modes with photons or lepton leptonbar pairs",
        "pdg_values": [
          {
            "value": 5.1E-12,
            "value_text": "<5.1 E-12",
            "is_limit": true,
            "is_upper_limit": true,
            "confidence_level": 90.0,
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.11/2025",
        "description": "K0S --> pi+- e-+ nu_e",
        "mode_number": 9,
        "section": "Semileptonic modes",
        "pdg_values": [
          {
            "value": 7.142187754688383E-4,
            "error_positive": 5.587292928256456E-6,
            "error_negative": 5.587292928256456E-6,
            "value_text": "(7.14+-0.06)E-4",
            "type": "OUR FIT"
          }
        ]
      },
      {
        "pdgid": "S012.12/2025",
        "description": "K0S --> pi+- mu-+ nu_mu",
        "mode_number": 10,
        "section": "Semileptonic modes",
        "pdg_values": [
          {
            "value": 4.560097841278498E-4,
            "error_positive": 2.024845193916333E-5,
            "error_negative": 2.024845193916333E-5,
            "value_text": "(4.56+-0.20)E-4",
            "type": "OUR FIT"
          }
        ]
      },
      {
        "pdgid": "S012.7/2025",
        "description": "K0S --> 3pi0",
        "mode_number": 11,
        "section": "CP violating (CP) and DeltaS = 1 weak neutral current (S1) modes",
        "pdg_values": [
          {
            "value": 2.6E-8,
            "value_text": "<2.6 E-8",
            "is_limit": true,
            "is_upper_limit": true,
            "confidence_level": 90.0,
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.3/2025",
        "description": "K0S --> mu+ mu-",
        "mode_number": 12,
        "section": "CP violating (CP) and DeltaS = 1 weak neutral current (S1) modes",
        "pdg_values": [
          {
            "value": 2.1E-10,
            "value_text": "<2.1 E-10",
            "is_limit": true,
            "is_upper_limit": true,
            "confidence_level": 90.0,
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.4/2025",
        "description": "K0S --> e+ e-",
        "mode_number": 13,
        "section": "CP violating (CP) and DeltaS = 1 weak neutral current (S1) modes",
        "pdg_values": [
          {
            "value": 9.0E-9,
            "value_text": "<9 E-9",
            "is_limit": true,
            "is_upper_limit": true,
            "confidence_level": 90.0,
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.10/2025",
        "description": "K0S --> pi0 e+ e-",
        "mode_number": 14,
        "section": "CP violating (CP) and DeltaS = 1 weak neutral current (S1) modes",
        "pdg_values": [
          {
            "value": 3.0E-9,
            "error_positive": 1.51327459504216E-9,
            "error_negative": 1.21655250605964E-9,
            "value_text": "(3.0+1.5-1.2)E-9",
            "type": "OUR AVERAGE"
          }
        ]
      },
      {
        "pdgid": "S012.15/2025",
        "description": "K0S --> pi0 mu+ mu-",
        "mode_number": 15,
        "section": "CP violating (CP) and DeltaS = 1 weak neutral current (S1) modes",
        "pdg_values": [
          {
            "value": 2.9E-9,
            "error_positive": 1.51327459504216E-9,
            "error_negative": 1.21655250605964E-9,
            "value_text": "(2.9+1.5-1.2)E-9",
            "type": "OUR AVERAGE"
          }
        ]
      }
    ]
  }
}