{
  "MC": {
    "path": [
      "/data/tape_dump/gamrat/PROD2ROOT/MC/MK0/all_phys/",
      "/data/tape_dump/gamrat/PROD2ROOT/MC/MK0/all_phys2/",
      [
      "/data/tape_dump/gamrat/PROD2ROOT/MC/MK0/all_phys3/",
      "/data/ssd/gamrat/PROD2ROOT/MC/MK0/all_phys3/"      
      ]
    ],
    "filenameBase": [
      "mk0_initial_analysis_all_phys",
      "mk0_initial_analysis_all_phys2",
      "mk0_initial_analysis_all_phys3"
    ],
    "filenameBaseOldAna": "mc_stream62_mccard2",
    "extension": ".root"

  },
  "Data": {
    "path": "/data/ssd/gamrat/PROD2ROOT/DK0/",
    "filenameBase": "dk0_initial_analysis",
    "filenameBaseOldAna": "data_stream42",
    "extension": ".root"
  }
}